<div class="multi-carousel vertical">
  <div class="multi-carousel-inner">
    <div class="multi-carousel-item">
      <img
        src="../../assets/home-2.jpeg"
      />
    </div>
    <div class="multi-carousel-item">
      <img
        src="../../assets/home-3.webp"
      />
    </div>

  </div>

    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <button
    class="carousel-control-next"
    type="button"
    tabindex="0"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
