<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">Programming with C</h5>
        <a href="#" class="btn btn-danger">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title fw-bold">Python</h5>
        <a href="#" class="btn btn-danger">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title fw-bold">Java</h5>
        <a href="#" class="btn btn-danger"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">Cyber Security</h5>
        <a href="#" class="btn btn-warning">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">Artificial Intelligence</h5>
        <a href="#" class="btn btn-warning"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">Machine Learning</h5>
        <a href="#" class="btn btn-warning"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold"> Data Structures</h5>
        <a href="#" class="btn btn-primary"> View</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">Data Science</h5>
        <a href="#" class="btn btn-primary">View </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fw-bold">DBMS</h5>
        <a href="#" class="btn btn-primary"> View</a>
      </div>
    </div>
  </div>
</div>
